body {
	background: #4b377c;
}


/*.inner-container {
	display: flex;
	justify-content: space-between;
}*/

.inner-container {
    display: flex;
}

.bar { fill: white; }

th, td {
    border-bottom: 1px solid white;
    padding-left: 20px;
    padding-bottom: 6px;
    color: white;
    text-align: left;
}