body {
	background: #4b377c;
    font-family: 'Roboto', sans-serif;
}


.inner-container {
    display: flex;
    margin-top: 30px;
    justify-content: space-evenly;
}

.bar:hover{
    fill:white;

}

th, td {
    border-bottom: 1px solid white;
    color: white;
    text-align: left;
    font-size: 13px;
    padding: 4px 5px;

}

nav.main-nav-bar {
    background: black;
    width: 100%;
    margin: 0;
    color: white;
    border-bottom: 2px solid white;
    border-top: 2px solid white;
}

ul.main-nav-items {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

ul.main-nav-items {
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-size: 20px;
    padding: 10px 0px;
    align-items: center;
}

.hover:hover {
    background: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    font-size: 18px;
}

div.tooltip {
  position: absolute;
  width: 300px;
  height: 100px;
  font: 18px sans-serif;
  background: #2d3436;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
  color: white;
  text-align:center;
  padding-top:20px;
}


ul.tooltip-list {
    list-style: none;
}

.chart-container {
    display: flex;
    flex-direction: column;
}

.stream-container {
    display: flex;
    justify-content: center;
}


.gamename {
    color: white;
    margin-top: 30px;
}

.table-container h1 {
    color: white;
    font-size: 25px;
    text-align: center;
    background: black;
    padding: 7px;
    border-radius: 6px;
    border: 2px solid white;
}

.chart-container h1 {
    color: white;
    text-align: center;
    font-size: 25px;
    background: black;
    padding: 7px;
    border-radius: 6px;
    margin: 0px 6px;
    border: 2px solid white;
}

.gamename p, h4 {
    background: black;
    padding: 6px;
    margin-bottom: 16px;
    border: 2px solid white;
}

.render-stream {
    text-align: center;
    position: relative;
    top: 15px;
}

.render-stream h1 {
    color: white;
    text-align: center;
    background: black;
    margin-bottom: 7px;
    padding: 9px;
    border-radius: 5px;
    font-size: 20px;
    border: 2px solid white;
}

.modal-content p {
    text-align: center;
}

svg.svg-inline--fa.fa-github.fa-w-16.fa-2x {
    color: white;
    cursor: pointer;
}

svg.svg-inline--fa.fa-linkedin.fa-w-14.fa-2x {
    color: white;
    cursor: pointer;
}

svg.svg-inline--fa.fa-circle.fa-w-16 {
    color: #00FF00;
    margin-right: 6px;
}


.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
}


.modal-content {
    background-color: black;
    margin: auto;
    padding: 20px;
    border: 5px solid white;
    width: 30%;
    color: white;
}


.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-content h1 {
    margin: 0 auto;
    width: 50%;
    background: #4b377c;
    text-align: center;
    border: 2px solid white;
    padding: 6px;
    font-size: 23px;
    margin-bottom: 10px;
}

li#myBtn {
    cursor: pointer;
}

li#myBtn:hover {
    text-decoration: underline;
}

text {
    fill: white;
    font-size: 12px;

}

iframe {
    border: 2px solid white;
}

img.img-circle {
    border: 2px solid white;
}
