body {
	background: #4b377c;
    font-family: 'Roboto', sans-serif;
}


/*.inner-container {
	display: flex;
	justify-content: space-between;
}*/

.inner-container {
    display: flex;
    margin: 0 auto;
    width: 1700px;
    margin-top: 30px;
}

.bar:hover{
    fill:white;

}

th, td {
    border-bottom: 1px solid white;
    color: white;
    text-align: left;
    font-size: 13px;
    padding: 4px 5px;

}

nav.main-nav-bar {
    background: black;
    width: 100%;
    margin: 0;
    color: white;
}

ul.main-nav-items {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

ul.main-nav-items {
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-size: 20px;
    padding: 10px 0px;
    align-items: center;
}

.hover:hover {
    background: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    font-size: 18px;
}

div.tooltip {
  position: absolute;
  width: 300px;
  height: 100px;
  font: 18px sans-serif;
  background: #2d3436;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
  color: white;
  text-align:center;
  padding-top:20px;
}


ul.tooltip-list {
    list-style: none;
}

.chart-container {
    display: flex;
    flex-direction: column;
}

.chart-sidecontent {
    display: flex;
}

.gamename {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 25px;
}

.table-container h1 {
    color: white;
    font-size: 25px;
    text-align: center;
    background: black;
    padding: 7px;
    border-radius: 6px;
}

.chart-container h1 {
    color: white;
    text-align: center;
    font-size: 25px;
    /* margin-bottom: 11px; */
    background: black;
    padding: 7px;
    border-radius: 6px;
    margin: 0px 6px;
}

.gamename p, h4 {
    background: black;
    padding: 6px;
}

.render-stream {
    margin-top: 20px;
}

.render-stream h1 {
    color: white;
    text-align: center;
    background: black;
    margin-bottom: 7px;
    padding: 9px;
    border-radius: 5px;
    font-size: 20px;
}

svg.svg-inline--fa.fa-github.fa-w-16.fa-2x {
    color: white;
}

svg.svg-inline--fa.fa-linkedin.fa-w-14.fa-2x {
    color: white;
}

svg.svg-inline--fa.fa-circle.fa-w-16 {
    color: #00FF00;
    margin-right: 6px;
}



/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
